<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      lang="vi">
<head>


<title>🌿 Liên hệ | Thiên Nhiên Garden</title>
<link rel="stylesheet" th:href="@{/css/lienhe.css}">
<link
	href="https://fonts.googleapis.com/css2?family=Parisienne&family=Quicksand:wght@400;500;600;700&display=swap"
	rel="stylesheet">
</head>

<body>

<section layout:fragment="content">
	<!-- ==== NỘI DUNG LIÊN HỆ ==== -->
	<section class="contact-section">
		<div class="contact-info">
			<h2>📍 Thông tin liên hệ</h2>
			<p>
				<b>Địa chỉ:</b> 133A-Xã Thái Mỹ-Thành phố Hồ Chí Minh
			</p>
			<p>
				<b>Email:</b> Nguyentramhuong22@gmail.com
			</p>
			<p>
				<b>Hotline:</b> <a href="tel:0905123456">0905 123 456</a>
			</p>

			<div class="social-links">
				<a href="https://www.facebook.com/nguyen.kiet.273493/"
					target="_blank">🌐 Facebook</a> 
					<a href="https://www.tiktok.com/@illliiii_?_r=1&_t=ZS-91G0CCc9yhF"
					target="_blank">🎵 TikTok</a>
					<a href="https://www.instagram.com/tramhuongn/"
					target="_blank">Instagram</a>
			</div>
		</div>

		<div class="contact-form">
			<h2>✉️ Gửi tin nhắn cho chúng tôi</h2>
			<form>
				<input type="text" placeholder="Họ tên của bạn" required> <input
					type="email" placeholder="Email của bạn" required> <input
					type="text" placeholder="Số điện thoại">
				<textarea rows="4" placeholder="Nội dung liên hệ..." required></textarea>
				<button type="submit">Gửi ngay</button>
			</form>
		</div>
	</section>
</section>
</body>
</html>
